@model Movies_portal_MVC5.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@Html.ActionLink("Edit Details", "Edit", "Customers", new {Model.Id }, new { @class = "btn btn-primary" })
<ul>
    <li><span>Membership Type : </span>@Model.MembershipType.Name</li>

    @if (Model.Bithday.HasValue)
    {

        <li><span>Date Of Birth : @Model.Bithday.Value.ToShortDateString()</span></li>
    }
</ul>

