@model IEnumerable<Movies_portal_MVC5.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers List</h2>
<table class="table table-bordered table-hover">
    <thead>Customer Name</thead>
    <tbody>
        
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers",new {customer.Id }, new { area = "" })
                       
                       
                       
                    </td>
                    

                </tr>
            }
    </tbody>
</table>

